@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
<style>
    .btn {
        cursor: pointer;
    }

    ul,
    ol {
        padding-left: 0;
    }

    a {
        color: #3e3e3e;
        text-decoration: none;
    }

    .admin-dashboard {
        display: flex;
    }

    .username-tab {
        width: 20%;
    }

    .kh-tab {
        width: 10%;
    }
</style>
<div style="flex: 1; position: absolute;top: 0;">
    <h1 class="m-2">Quản lý sản phẩm</h1>
    <div class="mx-2 ms-1 border border-2 p-2 m-2">
        <p class="btn btn-warning m-2" style="width: 200px;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Create">Create Product</a>
        </p>
        <table id="example" class="table table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th class="text-start kh-tab">Product Id</th>
                    <th class="text-start username-tab">Product Name</th>
                    <th class="text-start">Product Image</th>
                    <th class="text-start">ProQuantity</th>
                    <th class="text-start">CreateDate</th>
                    <th class="text-start"></th>
                </tr>
            </thead>
            <tbody>
             
                    @foreach (var item in Model)
                    {
   @if (item.IsDelete != 1)
                {
                        <tr>
                            <td class="text-start align-middle kh-tab">@item.ProId</td>
                            <td class="text-start align-middle username-tab">@item.ProName</td>
                            <td class="text-start">@item.ProImage</td>
                            <td class="text-start align-middle">@item.ProQuantity</td>
                            <td class="text-start align-middle">@item.CreateDate</td>
                            <td class="text-start">
                                <a asp-action="Delete" asp-route-id="@item.ProId"  class="btn btn-danger">Delete</a>
                                <a asp-action="Edit" asp-route-id="@item.ProId"  class="btn btn-warning">Edit</a>

                        </tr>
}
  }
                    </tbody>

                </table>
            </div>
        </div>









                        @* <button>
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Create Account</a>
</button>
<table>
<thead>
<tr>
<th>Username</th>
<th>Password</th>
<th>Fullname</th>
<th>PhoneNumber</th>
<th>Email</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
<tr>
<td>@item.Username</td>
<td>@item.Password</td>
<td>@item.Fullname</td>
<td>@item.PhoneNumber</td>
<td>@item.Email</td>
<td> <a asp-action="Delete" asp-route-id="@item.AccId">Delete</a></td>
</tr>
}

</tbody>
</table> *@